<div class="titre">
  <h1>Details sur la Pizza : {{pizza.name | titlecase}}</h1>
</div>
<div class="row detail">
    <div class="col-5">
      <div class="descrip shadow-lg test">
        <img src="{{pizza.url}}" class="card-img-top test shadow-lg">
        <div class="card-body test">
          <h3>{{pizza.name | titlecase}}</h3>
          <p>Prix: {{pizza.price}} €</p>
          <button class="buttonpayer shadow-lg">Payer</button>
          <button class="buttonretour shadow-lg" (click)="retour()" >Retour</button>
        </div>
      </div>
    </div>
    <div class="col shadow-lg mx-4 test">
      <h3>Description</h3>
    </div>
  </div>