.descrip {
    width: 20rem;
}
.detail {
    padding: 20px;
    margin: 5px;
}
a {
    margin: 6px;
}
.titre {
    padding: 20px;
}
.buttonpayer
{
	background-color:#0051ff;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7a8eb9;
}
.buttonpayer:hover {
	background-color:#5972a7;
}
.buttonpayer:active {
	position:relative;
	top:1px;
}
.buttonretour {
    background-color:#c62d1f;
    margin-left: 30px;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.buttonretour:hover {
	background-color:#f24437;
}
.buttonretour:active {
	position:relative;
    top:1px;
}

.test 
{
    background-color:#DCDCDC;;
	border-radius:28px;

}

